awkward
curve
dash
icecream
inquirer
ipykernel
ipywidgets
jupyter
jupyter-dash
jupyterlab
keyboard
matplotlib
numba
numexpr
numpy
openpyxl
pandas
plotly
plotly_express
pynput
rich
scipy 
shapely
uproot
pyqt5