awkward
curve
dash
iminuit
inquirer
ipykernel
ipywidgets
jacobi
jupyter
jupyter-dash
jupyterlab
keyboard
matplotlib
mlphep
lmfit
numba
numba_stats
numexpr
numpy
openpyxl
pandas
plotly
plotly_express
pynput
pyyaml
rich
scipy 
shapely
uproot
pyqt5