sphinx==4.1.0
alabaster==0.7.13
lxml==4.5.2
myst_parser
myst_nb
nbsphinx
requests-futures==1.0.0
sphinxemoji
sphinx_book_theme
sphinx_copybutton
sphinx_plotly_directive
sphinx_rtd_theme==0.5.0rc1
awkward
curve
inquirer
ipywidgets
jacobi
keyboard
lmfit
matplotlib
numba
numba_stats
numpy
openpyxl
pandas
plotly
pyqt5
pynput
rich
scipy 
shapely
uproot