sphinx==4.1.0
alabaster==0.7.13
sphinx_book_theme
myst_parser
myst_nb
nbsphinx
sphinxemoji
sphinx_copybutton
sphinx_plotly_directive
sphinx_rtd_theme==0.5.0rc1
numpy
numba
numba_stats
jacobi
lmfit
plotly
pandas
scipy 
matplotlib
uproot
pynput
awkward
keyboard
pyqt5
shapely
curve
pandas
openpyxl
icecream
ipywidgets
inquirer
rich
