awkward
curve
dash
iminuit
inquirer
ipykernel
ipywidgets
jacobi
jupyter
jupyter-dash
jupyterlab
kaleido
keyboard
lmfit
matplotlib
mplhep
numba
numba_stats
numexpr
numpy
openpyxl
pandas
plotly
plotly_express
pydrive
# pyqt5
PyQt5==5.9.2
pynput
pyyaml
rich
scipy 
shapely
typing
uproot