awkward
curve
dash
iminuit
inquirer
ipykernel
ipywidgets
jacobi
jupyter
jupyter-dash
jupyterlab
keyboard
lmfit
matplotlib
mlphep
numba
numba_stats
numexpr
numpy
openpyxl
pandas
plotly
plotly_express
pydrive
pyqt5
pynput
pyyaml
rich
scipy 
shapely
uproot